
<section class="form-register">
  <form (ngSubmit)="onSubmit()">
  <span>NOMBRE DEL TRUCO</span>
  <input
    class="controls"
    type="text"
    name="TRUCO"
    placeholder="TRUCO"
    id="truco"
    required
    [(ngModel)]="title"
  />
  <span>DESCRIPCIÓN</span>
  <input
    class="controls"
    type="text"
    name="DESCRIPCIÓN"
    placeholder="DESCRIPCIÓN"
    id="descripcion"
    required
    [(ngModel)]="description"
  />
  <span>NIVEL REQUERIDO</span>
  <select
    class="controls"
    name="NIVEL REQUERIDO"
    id="level"
    required
    [(ngModel)]="idLevelTrick"
  >
    <option value="">-</option>
    <option *ngFor="let level of levels" [value]="level.id">
      {{ level.name }}
    </option>
  </select>
  <span>DIFICULTAD</span>
  <select
    class="controls"
    name="DIFICULTAD"
    id="dificultad"
    required
    [(ngModel)]="idDifficulty"
  >
    <option value="">-</option>
    <option *ngFor="let difficulty of difficulties" [value]="difficulty.id">
      {{ difficulty.name }}
    </option>
  </select>
  <span>CATEGORÍA</span>
  <select
    class="controls"
    name="CATEGORÍA"
    id="categoria"
    required
    [(ngModel)]="idCategory"
  >
    <option>-</option>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.name }}
    </option>
  </select>
  <div class="button">
    <button type="submit">AGREGAR</button>
  </div>
</form>
</section>
