<section class="form-register">
    <span>NOMBRE DEL TRUCO</span>
  <input class="controls" type="text" name="TRUCO" placeholder="TRUCO" id="truco" />
  <span>DESCRIPCIÓN</span>
  <input class="controls" type="text" name="DESCRIPCIÓN" placeholder="DESCRIPCIÓN" id="descripcion" />
  <span>NIVEL REQUERIDO</span>
   <select class="controls" name="NIVEL REQUERIDO" id="level">
    <option value="">-</option>
    <option value="">Posser</option>
    <option value="">Medio</option>
    <option value="">Pro</option>
   </select>
  <span>DIFICULTAD</span>
  <select class="controls" name="DIFICULTAD" id="dificultad">
    <option value="">-</option>
    <option value="">Facil</option>
    <option value="">Medio</option>
    <option value="">KABROWN</option>
   </select>
  <span>CATEGORÍA</span>
  <select class="controls" name="CATEGORÍA" id="categoria">
    <option value="">-</option>
    <option value="">Street</option>
    <option value="">Park</option>
   </select>
   <div class="button">
    <button>AGREGAR</button>
</div>
</section>
