.delete {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(151, 151, 151, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    border-radius: 5px;
    border-color: blueviolet;
}

.modal_body {
    background-color: #aeacac00;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(183, 179, 179, 0.2);
    width: 50rem;
    max-width: 90%;

}

button{
    color: rgb(0, 0, 0);
}

.buttons {
    justify-content: center;
    align-items: center;
}