<!-- <div class="container">
    <div class="title">
        <h2>TITULO</h2>
    </div>
    <div class="subtitle">
        <h4>nombre deltruko</h4>
    </div>
</div> -->

<section class="guide">
  <h2>TÍTULO DE LA GUÍA</h2>
  <h3>NOMBRE DEL TRUCO</h3>
  <div class="box">
    <textarea placeholder="PASOS"></textarea>
    <div class="image">
      <p>IMAGEN RELACIONADA AL TRUCO</p>
    </div>
  </div>

  <div class="info">
    <div class="level">
      <span>NIVEL REQUERIDO</span>
      <input type="text" placeholder="NIVEL REQUERIDO" />
    </div>
    <div class="category">
      <span>CATEGORÍA</span>
      <input type="text" placeholder="CATEGORÍA" />
    </div>
  </div>
</section>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap"
  rel="stylesheet"
/>
