<section class="form-register">
    <span>NOMBRE DE LA GUÍA</span>
  <input class="controls" type="text" name="guía" placeholder="type here" id="guia" />
  <span>PASOS</span>
  <textarea class="controls" name="pasos" id="pasos" placeholder="type here |"></textarea>
  <!-- <input class="controls" type="text" name="pasos" placeholder="type here |" id="pasos" /> -->
  <span>TRUCO</span>
  <select class="controls" name="truco" id="truco">
    <option value="">-</option>
    <option value="">Street</option>
    <option value="">Park</option>
   </select>
   <div class="button">
    <button>AGREGAR</button>
</div>
</section>
