<section class="form-register">
  <form (ngSubmit)="onSubmit()">
  <span>NOMBRE DE LA GUÍA</span>
  <input
    class="controls"
    type="text"
    name="guía"
    placeholder="type here"
    id="guia"
    [(ngModel)]="title"
  />
  <span>PASOS</span>
  <textarea
    class="controls"
    name="pasos"
    id="pasos"
    placeholder="type here |"
    [(ngModel)]="description"
  ></textarea>
  <span>TRUCO</span>

  <select 
  class="controls" 
  name="truco" 
  id="truco"
  [(ngModel)]="idTrick"
  (click)="onGetTrucos()"
  >
    <option value="">-</option>
    <option *ngFor="let truco of trucos" [value]="truco.id">{{ truco.title }}</option>
  </select>
  <input type="date"
  class="controls"
  [(ngModel)]="dateCreate">
  <div class="button">
    <button type="submit">AGREGAR</button>
  </div>
</form>
</section>