<div class="main-container">
    <div class="form-container">
      
      <!-- Sección de Inicio de Sesión -->
      <div class="login-section">
        <h2>Inicia Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <input type="email" placeholder="Email" formControlName="email" required>
          <input type="password" placeholder="Contraseña" formControlName="password" required>
          <input type="submit" value="Iniciar Sesión">
        </form>
      </div>
      
      <!-- Sección de Registro -->
      <div class="register-section">
        <h2>Regístrate</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <input type="text" placeholder="Nickname" formControlName="username" required>
          <input type="email" placeholder="Email" formControlName="email" required>
          
          <select formControlName="idLevelUser" required>
            <option value="">Nivel del usuario</option>
            <option *ngFor="let level of levels" [value]="level.id">{{ level.name }}</option>
          </select>
          
          <input type="date" formControlName="joinDate" required>
          <input type="password" placeholder="Contraseña" formControlName="password" required>
          
          <input type="submit" value="Registrar">
        </form>
      </div>
    </div>
  </div>
  